name = "REPLSmuggler"
uuid = "ad7bff83-59f0-4382-9fe5-c2ac8aa77434"
authors = ["Hugo Levy-Falk <hugo@klafyvel.me> and contributors"]
version = "0.4.0"

[deps]
AbstractTrees = "1520ce14-60c1-5f80-bbc7-55ef81b5835c"
BaseDirs = "18cc8868-cbac-4acf-b575-c8ff214dc66f"
JuliaSyntax = "70703baa-626e-46a2-a12c-08ffd08c73b4"
MsgPack = "99f44e22-a591-53d1-9472-aa23ef4bd671"
REPL = "3fa0cd96-eef1-5676-8a61-b3b8758bbffb"
Sockets = "6462fe0b-24de-5631-8697-dd941f90decc"

[weakdeps]
JET = "c3a54625-cd67-489e-a8e7-0a5a0ff4e31b"

[extensions]
JETExt = "JET"

[compat]
AbstractTrees = "0.4"
Aqua = "0.8"
BaseDirs = "1"
JuliaSyntax = "0.4"
MsgPack = "1"
REPL = "1"
Sockets = "1"
Test = "1"
julia = "1.8"
JET = "0.9"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Aqua", "Test"]
